<template>
	<v-layout justify-center text-xs-center>
		<v-flex lg4 md6 sm8 xs12>
			<v-form ref="form" lazy-validation v-if="!loading">
				<p class="title">Edit Absence</p>
				<v-text-field v-model="after.employeeId" label="Staff Id" :rules="[rules.required, rules.number]" maxlength="8" disabled box />
				<v-text-field v-model="after.employeeName" label="Staff Name" :rules="[rules.required]" disabled box />
				<v-select v-model="after.type" :items="types" label="Type" :rules="[rules.required]" box />
				<v-menu lazy transition="scale-transition" full-width min-width="290px">
					<v-text-field slot="activator" v-model="startDateFormatted" label="Start date" append-icon="event" :rules="[rules.required]" readonly disabled box />
					<v-date-picker v-model="after.startDate" v-on:change="formatStartDate" first-day-of-week="1" />
				</v-menu>
				<v-menu lazy transition="scale-transition" full-width min-width="290px">
					<v-text-field slot="activator" v-model="endDateFormatted" label="End date" append-icon="event" :rules="[rules.required]" readonly box />
					<v-date-picker v-model="after.endDate" v-on:change="formatEndDate" first-day-of-week="1" />
				</v-menu>
				<v-text-field v-model="after.hours" label="Hours" :rules="[rules.required, rules.decimal]" maxlength="5" box />
				<v-btn color="accent" v-on:click="editAbsence">Submit</v-btn>
				<v-btn color="accent" v-on:click="cancel">Cancel</v-btn>
				<v-snackbar v-model="failed" color="error">Failed to edit absence!<v-btn dark flat @click="failed = false">Close</v-btn></v-snackbar>
			</v-form>
			<v-progress-circular v-else color="primary" indeterminate />
		</v-flex>
	</v-layout>
</template>

<script src="./editabsence.ts"></script>
