<template>
	<v-layout justify-center text-xs-center>
		<v-flex lg4 md6 sm8 xs12>
			<v-form ref="form" lazy-validation>
				<p class="title">Create Site</p>
				<v-text-field v-model="site.name" label="Name" :rules="[rules.required]" box />
				<v-text-field v-model="site.times" label="Times" :rules="[rules.required]" box />
				<v-btn color="accent" v-on:click="createSite">Submit</v-btn>
				<v-btn color="accent" v-on:click="clear">Clear</v-btn>
				<v-btn color="accent" v-on:click="cancel">Cancel</v-btn>
				<v-snackbar v-model="failed" color="error">Failed to create site!<v-btn dark flat @click="failed = false">Close</v-btn></v-snackbar>
			</v-form>
		</v-flex>
	</v-layout>
</template>

<script src="./createsite.ts"></script>