<template>
	<v-layout row wrap justify-center v-if="$vuetify.breakpoint.smAndUp">
		<v-flex mb-4 xs11>
			<v-card>
				<v-toolbar flat class="tabletoolbar">
					<v-flex xs4>
						<v-toolbar-title>Holidays</v-toolbar-title>
					</v-flex>
					<v-flex xs4>
						<v-text-field v-model="searchHoliday" append-icon="search" label="Search" single-line hide-details />
					</v-flex>
					<v-flex xs4 class="text-xs-right">
						<v-btn flat color="accent" v-on:click.native="createHoliday">Create</v-btn>
					</v-flex>
				</v-toolbar>
				<v-data-table :headers="headersHoliday" :items="holidays" :search="searchHoliday" :loading="loadingHoliday" item-key="id" disable-initial-sort expand>
					<v-progress-linear slot="progress" color="primary" indeterminate />
					<template slot="items" slot-scope="props">
						<tr @click="props.expanded = !props.expanded">
							<td>{{ props.item.name }}</td>
							<td>{{ props.item.date }}</td>
						</tr>
					</template>
					<template slot="expand" slot-scope="props">
						<v-card flat="flat">
							<v-layout justify-center>
								<v-btn flat color="accent" v-on:click.native="editHoliday(props.item.id)">Edit</v-btn>
								<v-btn flat color="accent" v-on:click.native="openHolidayDelete(props.item.id)">Delete</v-btn>
							</v-layout>
						</v-card>
					</template>
				</v-data-table>
			</v-card>
		</v-flex>
		<v-flex xs11>
			<v-card>
				<v-toolbar flat class="tabletoolbar">
					<v-flex xs4>
						<v-toolbar-title>Sites</v-toolbar-title>
					</v-flex>
					<v-flex xs4>
						<v-text-field v-model="searchSite" append-icon="search" label="Search" single-line hide-details />
					</v-flex>
					<v-flex xs4 class="text-xs-right">
						<v-btn flat color="accent" v-on:click.native="createSite">Create</v-btn>
					</v-flex>
				</v-toolbar>
				<v-data-table :headers="headersSite" :items="sites" :search="searchSite" :loading="loadingSite" item-key="id" disable-initial-sort expand>
					<v-progress-linear slot="progress" color="primary" indeterminate />
					<template slot="items" slot-scope="props">
						<tr @click="props.expanded = !props.expanded">
							<td>{{ props.item.name }}</td>
							<td>{{ props.item.times }}</td>
						</tr>
					</template>
					<template slot="expand" slot-scope="props">
						<v-card flat="flat">
							<v-layout justify-center>
								<v-btn flat color="accent" v-on:click.native="editSite(props.item.id)">Edit</v-btn>
								<v-btn flat color="accent" v-on:click.native="openSiteDelete(props.item.id)">Delete</v-btn>
							</v-layout>
						</v-card>
					</template>
				</v-data-table>
			</v-card>
		</v-flex>
		<v-dialog v-model="dialog" max-width="290">
			<v-card>
				<v-card-title class="headline">
					Delete?
				</v-card-title>
				<v-card-text>{{ dialogMessage }}</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" flat @click.native="dialog = false">Cancel</v-btn>
					<v-btn color="primary" flat v-on:click.native="deleteSwitch">Accept</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<v-snackbar v-model="failed" color="error">{{ errorMessage }}<v-btn dark flat @click="failed = false">Close</v-btn></v-snackbar>
	</v-layout>
	<v-layout v-else column>
		<v-toolbar flat color="transparent">
			<v-toolbar-title>Holidays</v-toolbar-title>
			<v-spacer></v-spacer>
			<v-btn flat color="accent" v-on:click.native="createHoliday">Create</v-btn>
		</v-toolbar>
		<v-text-field class="mb-4" v-model="searchHoliday" append-icon="search" label="Search" single-line hide-details box />
		<v-data-iterator :items="holidays" :search="searchHoliday" :loading="loadingHoliday" row wrap>
			<v-flex slot="item" slot-scope="props" class="mb-4" xs12>
				<v-card>
					<v-card-title>
						<h4>{{ props.item.name }}</h4>
						<v-spacer />
						<v-menu left>
							<v-btn slot="activator" icon class="ma-0">
								<v-icon>more_vert</v-icon>
							</v-btn>
							<v-list>
								<v-list-tile v-on:click.native="editHoliday(props.item.id)">
									<v-list-tile-title>Edit</v-list-tile-title>
								</v-list-tile>
								<v-list-tile v-on:click.native="openHoliday(props.item.id)">
									<v-list-tile-title>Delete</v-list-tile-title>
								</v-list-tile>
							</v-list>
						</v-menu>
					</v-card-title>
					<v-divider class="ma-0" />
					<v-list dense>
						<v-list-tile>
							<v-list-tile-content>Date:</v-list-tile-content>
							<v-list-tile-content class="align-end">{{ props.item.date }}</v-list-tile-content>
						</v-list-tile>
					</v-list>
				</v-card>
			</v-flex>
		</v-data-iterator>
		<v-toolbar flat color="transparent" class="mt-4">
			<v-toolbar-title>Sites</v-toolbar-title>
			<v-spacer></v-spacer>
			<v-btn flat color="accent" v-on:click.native="createSite">Create</v-btn>
		</v-toolbar>
		<v-text-field class="mb-4" v-model="searchSite" append-icon="search" label="Search" single-line hide-details box />
		<v-data-iterator :items="sites" :search="searchSite" :loading="loadingSite" row wrap>
			<v-flex slot="item" slot-scope="props" class="mb-4" xs12>
				<v-card>
					<v-card-title>
						<h4>{{ props.item.name }}</h4>
						<v-spacer />
						<v-menu left>
							<v-btn slot="activator" icon class="ma-0">
								<v-icon>more_vert</v-icon>
							</v-btn>
							<v-list>
								<v-list-tile v-on:click.native="editSite(props.item.id)">
									<v-list-tile-title>Edit</v-list-tile-title>
								</v-list-tile>
								<v-list-tile v-on:click.native="openSiteDelete(props.item.id)">
									<v-list-tile-title>Delete</v-list-tile-title>
								</v-list-tile>
							</v-list>
						</v-menu>
					</v-card-title>
					<v-divider class="ma-0" />
					<v-list dense>
						<v-list-tile>
							<v-list-tile-content>Times:</v-list-tile-content>
							<v-list-tile-content class="align-end">{{ props.item.times }}</v-list-tile-content>
						</v-list-tile>
					</v-list>
				</v-card>
			</v-flex>
		</v-data-iterator>
		<v-dialog v-model="dialog" max-width="290">
			<v-card>
				<v-card-title class="headline">
					Delete?
				</v-card-title>
				<v-card-text>{{ dialogMessage }}</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" flat @click.native="dialog = false">Cancel</v-btn>
					<v-btn color="primary" flat v-on:click.native="deleteSwitch">Accept</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<v-snackbar v-model="failed" color="error">{{ errorMessage }}<v-btn dark flat @click="failed = false">Close</v-btn></v-snackbar>
	</v-layout>
</template>

<script src="./fetchadmin.ts"></script>
