<template>
	<v-layout row wrap justify-center v-if="$vuetify.breakpoint.smAndUp">
		<v-flex class="text-xs-center" xs11>
			<v-menu lazy transition="scale-transition">
				<v-text-field slot="activator" v-model="dateFormatted" label="Date" append-icon="event" readonly box />
				<v-date-picker v-model="selecteddate.date" v-on:change="loadEmployees" first-day-of-week="1" />
			</v-menu>
		</v-flex>
		<v-flex xs11>
			<v-card>
				<v-toolbar flat class="tabletoolbar">
					<v-flex xs4>
						<v-toolbar-title>Employees</v-toolbar-title>
					</v-flex>
					<v-flex xs4>
						<v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details />
					</v-flex>
					<v-flex xs4 class="text-xs-right">
						<v-btn flat color="accent" v-on:click.native="createEmployee">Create</v-btn>
					</v-flex>
				</v-toolbar>
				<v-data-table :headers="headers" :items="employees" :search="search" :loading="loading" item-key="id" expand>
					<v-progress-linear slot="progress" color="primary" indeterminate />
					<template slot="items" slot-scope="props">
						<tr @click="props.expanded = !props.expanded">
							<td>{{ props.item.id }}</td>
							<td>{{ props.item.name }}</td>
							<td>{{ props.item.role }}</td>
							<td>{{ props.item.contractHours }}</td>
							<td>{{ props.item.workPattern }}</td>
							<td><font v-bind:style="{ color: statusColour(props.item.status) }">{{ props.item.status }}</font></td>
						</tr>
					</template>
					<template slot="expand" slot-scope="props">
						<v-card flat="flat">
							<v-layout justify-center>
								<v-btn color="accent" flat v-on:click.native="editEmployee(props.item.id)">Edit</v-btn>
								<v-btn color="accent" flat v-on:click.native="viewEmployee(props.item.id)">View</v-btn>
								<v-btn color="accent" flat v-on:click.native="openDelete(props.item.id)">Delete</v-btn>
							</v-layout>
						</v-card>
					</template>
				</v-data-table>
			</v-card>
		</v-flex>
		<v-dialog v-model="dialog" max-width="290">
			<v-card>
				<v-card-title class="headline">
					Delete employee?
				</v-card-title>
				<v-card-text>Are you sure you want to delete this employee?</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" flat @click.native="dialog = false">Cancel</v-btn>
					<v-btn color="primary" flat v-on:click.native="deleteEmployee">Accept</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<v-snackbar v-model="failed" color="error">Failed to delete employee!<v-btn dark flat @click="failed = false">Close</v-btn></v-snackbar>
	</v-layout>
	<v-layout v-else column>
		<v-toolbar flat color="transparent">
				<v-toolbar-title>Employees</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-btn flat color="accent" v-on:click.native="createEmployee">Create</v-btn>
		</v-toolbar>
		<v-menu lazy transition="scale-transition" full-width>
			<v-text-field slot="activator" v-model="dateFormatted" label="Date" append-icon="event" readonly box />
			<v-date-picker v-model="selecteddate.date" v-on:change="loadEmployees" first-day-of-week="1" full-width />
		</v-menu>
		<v-text-field class="mb-4" v-model="search" append-icon="search" label="Search" single-line hide-details box />
		<v-data-iterator :items="employees" :search="search" :loading="loading" row wrap>
			<v-flex slot="item" slot-scope="props" class="mb-4" xs12>
				<v-card>
					<v-card-title>
						<span class="subheading font-weight-bold">{{ props.item.id }} - {{ props.item.name }}</span>
						<v-spacer />
						<v-menu left>
							<v-btn slot="activator" icon class="ma-0">
								<v-icon>more_vert</v-icon>
							</v-btn>
							<v-list>
								<v-list-tile v-on:click.native="editEmployee(props.item.id)">
									<v-list-tile-title>Edit</v-list-tile-title>
								</v-list-tile>
								<v-list-tile v-on:click.native="viewEmployee(props.item.id)">
									<v-list-tile-title>View</v-list-tile-title>
								</v-list-tile>
								<v-list-tile v-on:click.native="openDelete(props.item.id)">
									<v-list-tile-title>Delete</v-list-tile-title>
								</v-list-tile>
							</v-list>
						</v-menu>
					</v-card-title>
					<v-divider class="ma-0" />
					<v-list dense>
						<v-list-tile>
							<v-list-tile-content>Role:</v-list-tile-content>
							<v-list-tile-content class="align-end">{{ props.item.role }}</v-list-tile-content>
						</v-list-tile>
						<v-list-tile>
							<v-list-tile-content>Contract Hours:</v-list-tile-content>
							<v-list-tile-content class="align-end">{{ props.item.contractHours }}</v-list-tile-content>
						</v-list-tile>
						<v-list-tile>
							<v-list-tile-content>Work Pattern:</v-list-tile-content>
							<v-list-tile-content class="align-end">{{ props.item.workPattern }}</v-list-tile-content>
						</v-list-tile>
						<v-list-tile>
							<v-list-tile-content>Status:</v-list-tile-content>
							<v-list-tile-content class="align-end"><font v-bind:style="{ color: statusColour(props.item.status) }">{{ props.item.status }}</font></v-list-tile-content>
						</v-list-tile>
					</v-list>
				</v-card>
			</v-flex>
		</v-data-iterator>
		<v-dialog v-model="dialog" max-width="290">
			<v-card>
				<v-card-title class="headline">
					Delete employee?
				</v-card-title>
				<v-card-text>Are you sure you want to delete this employee?</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" flat @click.native="dialog = false">Cancel</v-btn>
					<v-btn color="primary" flat v-on:click.native="deleteEmployee">Accept</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<v-snackbar v-model="failed" color="error">Failed to delete employee!<v-btn dark flat @click="failed = false">Close</v-btn></v-snackbar>
	</v-layout>
</template>

<script src="./fetchemployee.ts"></script>
