<template>
	<v-app id="inspire" :dark="dark">
		<v-navigation-drawer persistant clipped disable-resize-watcher v-model="drawer" width="300" app>
			<MenuComponent></MenuComponent>
		</v-navigation-drawer>
		<v-toolbar color="primary" dark fixed clipped-left app>
			<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
			<v-toolbar-title>RosterWebApp</v-toolbar-title>
			<v-spacer></v-spacer>
			<v-toolbar-items>
				<v-menu offset-y>
					<v-btn slot="activator" icon>
						<v-icon>brush</v-icon>
					</v-btn>
					<v-list>
						<v-list-tile v-for="(item, index) in colours"
									 :key="index"
									 avatar 
									 v-on:click="themeColour(index)">
						<v-avatar :color="item"></v-avatar>
						</v-list-tile>
					</v-list>
				</v-menu>
				<v-btn icon v-on:click="themeDark()">
					<v-icon v-model="dark">invert_colors</v-icon>
				</v-btn>
			</v-toolbar-items>
		</v-toolbar>
		<main>
			<v-content>
					<v-container fluid>
						<v-slide-x-transition mode="out-in">
							<router-view v-bind:selecteddate="selecteddate"></router-view>
						</v-slide-x-transition>
					</v-container>
			</v-content>
		</main>
		<v-footer color="primary" class="pa-3" app fixed>
			<v-spacer></v-spacer>
			<span class="white--text">&copy; 2018 </span>
		</v-footer>
	</v-app>
</template>
<script src="./app.ts"></script>

